fastapi
uvicorn
gunicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pydantic[email]
pydantic-settings
python-dotenv
python-multipart
alembic
streamlit
pandas
requests

# Testing
pytest
httpx
